{% extends 'base.html' %}
{% load i18n %}

{% comment "License" %}
Copyright 2015 SPECS Project - CeRICT

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 @author  Umberto Villano villano@unisannio.it
 @author  Antonio Macolino antonio.macolino@gmail.com
 @author  Luigi Pino pinoluigi@hotmail.com
{% endcomment %}

{% block title %}{% trans "Services Management" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Services Management") %}
{% endblock page_header %}

{% block main %}
<div class="row">
   <div class="col-sm-12">
   {{ tab_group.render }}
   </div>
</div>
{% endblock %}


